# Copyright (C) 2012-2025 The Android Open Source Project
#
# Recovery configuration for kirin710 devices
#

import /init.recovery.kirin710.usb.rc
import /init.recovery.decrypt.rc


# (init) from (/system/etc/init/hw/init.rc:23)
# (late-init) from (/system/etc/init/hw/init.rc:82)
# (fs) from (/system/etc/init/hw/init.rc:147)
# (post-fs) from (/init.recovery.kirin710.rc:9)
# (post-fs-data) from (/system/etc/init/hw/init.rc:94)
# (firmware_mounts_complete) from (/system/etc/init/hw/init.rc:78)
# (boot) from (/system/etc/init/hw/init.rc:71)

on init
    # TEE
    chmod 0400 /dev/hisi_teelog
    chown system system /sys/kernel/tui/c_state
    chmod 0664 /dev/ion
    chown system system /dev/ion
    
    # Keystore
    chown root shell /tmp
    chmod 0775 /tmp
    mkdir /tmp/misc
    mkdir /tmp/misc/keystore/
    chmod 0777 /tmp/misc/
    chmod 0777 /tmp/misc/keystore/

on fs
    start fixlinks

    # mount secure storage partition for teeos
    wait /dev/block/by-name/secure_storage
    mount ext4 /dev/block/by-name/secure_storage /sec_storage rw discard,auto_da_alloc,mblk_io_submit,data=journal,context=u:object_r:teecd_data_file:s0
    chown root system /sec_storage
    chmod 0660 /sec_storage

    # restore sepolicy label because teecd check label
    restorecon /vendor/bin/teecd
    restorecon /vendor/bin/hw/vendor.huawei.hardware.libteec@2.0-service
    restorecon /vendor/bin/hw/android.hardware.keymaster@3.0-service
    restorecon /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    setprop crypto.ready 1

on post-fs-data
    mkdir /data/sec_storage_data 0700 system system encryption=None
    restorecon /data/sec_storage_data
    
    mkdir /data/sec_storage_data_users 0700 system system encryption=None
    restorecon /data/sec_storage_data_users

    mkdir /data/vendor/log/sec_storage_data 0775 system system
    mkdir /data/vendor/log/sec_storage_data/log 0755 system system

    mkdir /data/vendor/sec_storage_data 0700 system system
    restorecon /data/vendor/sec_storage_data
    
    mkdir /data/vendor/sec_storage_data_users 0700 system system
    restorecon /data/vendor/sec_storage_data_users
    
      
on boot
    start health-hal-2-0


service fixlinks /system/bin/fixlinks.sh
    oneshot
    disabled
    seclabel u:r:recovery:s0

service oeminfo_nvm /system/sbin/true
    disabled

on boot
    chown system system /sys/devices/platform/ff200000.hisi_usb/plugusb
    chmod 0660 /sys/devices/platform/ff200000.hisi_usb/plugusb
    restorecon /vendor/bin/aptouch_daemon
    start aptouch

on property:ro.board.platform=kirin710
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal
    write /sys/class/hw_power/charger/charge_data/iin_thermal 900

on fs && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/f_ffs/aliases adb

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on property:sys.usb.config=mtp,adb
    start adbd

on property:sys.usb.config=adb
    start adbd
  
# For touchscreen
service aptouch /vendor/bin/aptouch_daemon
    user root
    group root system shell wakelock
    disabled
    seclabel u:r:aptouch:s0

service tp-hal-1-0 /vendor/bin/hw/vendor.huawei.hardware.tp@1.0-service
    class hal
    user system
    group system
    seclabel u:r:recovery:s0

on property:odm.thp.service_enable=1
    start aptouch

on property:odm.thp.service_enable=0
    stop aptouch
    

