# Copyright (C) 2012-2025 The Android Open Source Project
#
# Recovery configuration for kirin710 devices
#

import /init.recovery.kirin710.usb.rc


on post-fs
    # mount secure storage partition for teeos
    wait /dev/block/by-name/secure_storage
    mount ext4 /dev/block/by-name/secure_storage /sec_storage rw discard,auto_da_alloc,mblk_io_submit,data=journal,context=u:object_r:teecd_data_file:s0
    chown root system /sec_storage
    chmod 0660 /sec_storage
    start teecd

on init
    # TEE
    chmod 0400 /dev/hisi_teelog
    chown system system /sys/kernel/tui/c_state
    
on boot
    start health-hal-2-0

on fs
    start fixlinks
    start hwservicemanager

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service fixlinks /system/bin/fixlinks.sh
    oneshot
    disabled
    seclabel u:r:recovery:s0

service oeminfo_nvm /system/sbin/true
    disabled

on boot
    chown system system /sys/devices/platform/ff200000.hisi_usb/plugusb
    chmod 0660 /sys/devices/platform/ff200000.hisi_usb/plugusb
    restorecon /vendor/bin/aptouch_daemon
    start aptouch

on property:ro.board.platform=kirin710
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal
    write /sys/class/hw_power/charger/charge_data/iin_thermal 900

on fs && property:sys.usb.configfs=0
    write /sys/class/android_usb/android0/f_ffs/aliases adb

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107e
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on property:sys.usb.config=mtp,adb
    start adbd

on property:sys.usb.config=adb
    start adbd

# For touchscreen
service aptouch /vendor/bin/aptouch_daemon
    user root
    group root system shell wakelock
    disabled
    seclabel u:r:aptouch:s0

on property:odm.thp.service_enable=1
    start aptouch

on property:odm.thp.service_enable=0
    stop aptouch
